<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993453764737-v2qt0ipoiqj1cgq5o4jlm4ek3vd1mreq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993453764737-v2qt0ipoiqj1cgq5o4jlm4ek3vd1mreq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>993453764737-0shfhpk8sko0b8shufr61dm621m5dmv2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrgQu32NpXSiJR1E2PMaio3_PwwSXWjPg</string>
	<key>GCM_SENDER_ID</key>
	<string>993453764737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAsroShop</string>
	<key>PROJECT_ID</key>
	<string>asroo-shop-getx-94373</string>
	<key>STORAGE_BUCKET</key>
	<string>asroo-shop-getx-94373.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993453764737:ios:48004ade7b6b773fc65d80</string>
</dict>
</plist>